header {
    height: 160px;
    width: 100%;
    background: #FFFFFF;
    position: absolute;
    border-bottom: 30px solid #282828;
}

.title-wrapper {
    width: 350px;
    height: 120px;
    margin: 20px 20px 0 20px;
    padding-right: 20px;
    position: relative;
    float: left;
    border-right: 1px solid #000000;
}

.cursor-left {
    background:url("left.png");
    width:19px;
    height:22px;
    position:absolute;
    left:20px;
    top:10px;
     transition: background 0.6s;
    -moz-transition:  background 0.6s;
    -webkit-transition: background 0.6s;
    -o-transition: background 0.6s;   
}

.cursor-left:hover {
    background:url("left_over.png");
}

.cursor-right {
    background:url("right.png");
    width:19px;
    height:22px;
    position:absolute;
    right:20px;
    top:10px;
}



.cursor-right:hover {
    background:url("right_over.png");
}



nav.main {
    width:155px;
    height:140px;
    position:absolute;
    right:25px;
    overflow: hidden;


}
nav.main li {
    list-style: none;
    line-height: 30px;
    margin:-1px;
}



.nav-over {
    width:0;
    right:0;
    background-color:#FFFFFF;
    transition: width 0.4s background-color 1s;
    -moz-transition:  width 0.4s, background-color 1s;
    -webkit-transition:  width 0.4s background-color 1s;
    -o-transition: width 0.4s background-color 1s;
    position: absolute;  
    margin-top:-28px; 
}


.nav-wrapper {
    position: absolute;
    width:140px;
    padding-left:20px;
}


.nav-wrapper:hover .nav-over {
    background-color:#282828;
    border-left: solid #282828 22px;
    position: absolute;
    width:140px;
    color: #FFFFFF;
    padding-left:20px;
}


nav.main a {
    font-family: lato, arial;
    font-weight: 900;
    font-size: 16px;
    margin-left:15px;
    color: #282828; 
}


.projects {
    position: absolute;
    right: 0;
    top: 20px;
    z-index:20;
}

.projects li {
    z-index: 200;
    margin-top: 30px;
    margin-right: 15px;
    position: relative;
    float: clear;
    list-style: none;
    height: 30px;
    width: 30px;
}
.roll-over-panel-wrapper {
    position: absolute;
    overflow: hidden;
    width: 24px;
    height: 24px;
    border-radius: 100%;
}
.roll-over-panel-wrapper:hover .roll-over-panel {

    top: -6px;
    left: -6px;
    height: 16px;
    width: 16px
}
.roll-over-panel {
    height: 4px;
    width: 4px;
    left: 0;
    top: 0;
    border-radius: 100%;
    border: solid 10px #FFFFFF;
    box-shadow: #000 1px 1px 1px;
    position: absolute;
    transition: left 0.4s, top 0.4s, height 0.4s, width 0.4s;
    -moz-transition: left 0.4s, top 0.4s, height 0.4s, width 0.4s;
    -webkit-transition: left 0.4s, top 0.4s, height 0.4s, width 0.4s;
    -o-transition: left 0.4s, top 0.4s, height 0.4s, width 0.4s;
}
.projects li .preview {
    transition: left 0.3s, opacity 0.6s;
    -moz-transition: left 0.3s, opacity 0.6s;
    -webkit-transition: left 0.3s, opacity 0.6s;
    -o-transition: left 0.3s, opacity 0.6s;
}
.projects li .hover {
    left: 0;
    opacity: 1;
}
.preview-wrapper {
    right: 45px;
    top: -22px;
    width: 120px;
    height: 58px;
    position: absolute;
}
.preview {
    position: absolute;
    width: 120px;
    height: 60px;
    left: 10px;
    opacity: 0;
    background: url("preview.png");
    background-size: cover;
}
h1 {
    font-family: Lato, sans-serif;
    font-weight: 900;
    color: #282828;
    font-size: 80px;
    position: absolute;
    bottom: 40px;
}   
h2 {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #646464;
    font-size: 40px;
    position: absolute;
    bottom: 10px;
}


.thumbnails {
    width:350px;
    height:120px;
    margin-top:10px;
    margin-left:20px;
    position:relative;
    background:white;
    float:left;
}
.thumbnails li {
    width: 50px;
    height: 50px;
    float: left;
    list-style: none;
    margin: 5px;
    transition: border-color 0.3s, opacity 0.6s;
    -moz-transition: border-color 0.3s, opacity 0.6s;
    -webkit-transition: border-color 0.3s, opacity 0.6s;
    -o-transition: border-color 0.3s, opacity 0.6s;
}

.thumbnail-wrapper {
    width:67px;
    height:67px;
    position: relative;
    left:0;
    top:0;
    overflow: hidden;


}
.thumbnail-bg {
    position: relative;
    left: 0;
    top: 0;
    height: 47px;
    width: 47px;
    padding: 6px;
    margin: 7px;
    background-color: #FFFFFF;
    transition: padding 0.3s, margin 0.3s, background-color 0.3s;
    -moz-transition: padding 0.3s, margin 0.3s, background-color 0.3s;
    -webkit-transition: padding 0.3s, margin 0.3s, background-color 0.3s;
    -o-transition: padding 0.3s, margin 0.3s, background-color 0.3s;
}
.thumbnail-bg:hover {
    padding: 7px;
    margin: 6px;
    background-color: #000000;
}
.thumb {
    width: 48px;
    height: 48px;
    position: absolute;
    border-width: 0;   
}

.thumb:hover {
    background-color :#282828;
}
.t1 {
    background: url("1.png") no-repeat center;
}
.t2 {
    background:url("2.png");

}
.t3 {
    background:url("3.png");

}
.t4 {
    background:url("4.png");

}
.t5 {
    background:url("5.png");

}
.t6 {
    background:url("6.png");

}
.t7 {
    background:url("7.png");

}
.t8 {
    background:url("8.png");

}
.t9 {
    background:url("9.png");
}


.image {
    height: 100%;
    width: 100%;
    background: url("bg1.jpg") center no-repeat;
    background-size: cover;
    position:absolute;
   }
   
 footer {
    height:40px;
    width:100%;
    background-color:#fff;
    position:absolute;
    bottom:0px;
}

.content {
    width: 100%;
    top: 160px;
    bottom: 0;
    position: absolute;
    background:url("grey.png");

}  
   

.pic-title {
    color:#282828;
    text-align:center;
    font-family:lato;
    font-weight:300;
    letter-spacing:4px;
    margin-top:7px;
    font-size:20px;
}

.iconabout {
    width:25px;
    height:25px;
    background:url("iconabout.png");
    background-size:cover;
    position:absolute;
    top:3px;
    right:30px;
}

.iconshowcase {
    width:25px;
    height:25px;
    background:url("iconshowcase.png");
    background-size:cover;
    position:absolute;
    top:3px;
    right:10px;
}

.iconhome {
    width:25px;
    height:25px;
    background:url("iconhome.png");
    background-size:cover;
    position:absolute;
    top:3px;
    right:30px;
}
