{% load compress %}
<!DOCTYPE HTML>
<html>
<head>
    <title>Marcel Kuzma Portfolio</title>
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/screen.less" />
        <link rel="stylesheet" type="text/less" href="{{ STATIC_URL }}css/showcase.less" />    
    {% endcompress %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
</head>
<body>
    <div class="wrapper">
        <header>
                <div class="title-wrapper">
                    <h1 class="title">Ship</h1>
                    <h2 class="subtitle">W.I.P</h2>
                </div>
                <ul class="thumbnails">
                    <li>
                        <div class="thumbnail-wrapper">  
                            <div class="thumbnail-bg">                  
                                 <div class="thumb t1"></div>
                                </div>
                            </div>
                    </li>
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t2"></div>
                            </div>
                        </div>
                    </li>        
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t3"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t4"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t5"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t6"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t7"></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t8"></div>
                            </div>
                        </div>
                    </li>   
                    <li>
                        <div class="thumbnail-wrapper">    
                            <div class="thumbnail-bg">      
                                <div class="thumb t9"></div>
                            </div>
                        </div>
                    </li>                      
                </ul>

                <nav class="main">
                    <ul>
                        <li><a href="">
                                <div class="nav-wrapper">Home
                                        <div class="nav-over">Home</div>
                                </div>
                            </a>
                        </li>
                        <li><a href="">
                                <div class="nav-wrapper">Showcase
                                        <div class="nav-over">Showcase</div>
                                </div>
                            </a>
                        </li>
                        <li><a href="">
                                <div class="nav-wrapper">About
                                        <div class="nav-over">About</div>
                                </div>
                            </a>
                        </li>                                                
                    </ul>
                </nav>
         </header>
         <section class="content">
            <div class="image"></div>
            <ul class="projects">
                    <li>
                        <div class="roll-over-panel-wrapper">
                            <div class="roll-over-panel"></div>
                        </div>
                        <div class="preview-wrapper">
                            <div class="preview"></div> 
                        </div>       
                    </li>
                    <li>
                        <div class="roll-over-panel-wrapper">
                            <div class="roll-over-panel"></div>
                        </div>
                        <div class="preview-wrapper">
                            <div class="preview"></div> 
                        </div>       
                    </li>
                    <li>
                        <div class="roll-over-panel-wrapper">
                            <div class="roll-over-panel"></div>
                        </div>
                        <div class="preview-wrapper">
                            <div class="preview"></div> 
                        </div>       
                    </li>
                    <li></li>
            </ul>
         </section>
         <footer>
            <a href=""><div class="cursor-left"></div></a>
            <a href=""><div class="cursor-right"></div></a>     
            <p class="pic-title">Lighting</p>
         </footer>
     </div>
</body>
</html>
